.feedback-page{
  margin-top: 50px;
}


.feedback-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .feedback-table th,
  .feedback-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .feedback-table th {
    color: white;
    background-color: #7D53F6;
  }
  
  .feedback-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  